body {
    width: 100%;
    font-family: 'ibm';

    overflow-x: hidden;
}

svg {
    width: 20px;
}

.nav {
    width: 100%;

    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 12px 38px;

    color: white;

    animation: header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
    z-index: 10;

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

@keyframes header {
    to {
        background: white;
        color: black;

        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.logo {
    width: 100px;
}

.logo--top {
    position: absolute;
    opacity: 0;
    transition: all 500ms ease-in-out;

    animation: logo linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;

    z-index: 1;
}

@keyframes logo {
    to {
        opacity: 1;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    flex-basis: 85.5%;
}

.nav__options {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1px;

    font-size: 14px;
}

.nav__options svg {
    width: 19px;
    padding-top: 3px;

    fill: white;

    animation: svg linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
}

.nav__options:hover {
    opacity: .5;
    cursor: pointer;
}

.nav__sublist {
    display: none;
}

.nav__suboptions {}

.nav__icons {
    display: flex;
    gap: 20px;
}

.nav__icon {
    width: 100%;
}

.nav__icon svg {
    width: 25px;

    fill: white;

    animation: svg linear both;
    animation-timeline: scroll(root);
    animation-range: 0 100px;
}

@keyframes svg {
    to {
        fill: black;
    }
}


/* Primera Sección */
.section-1 {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    overflow: hidden;

    cursor: grab;
}

.section-1__text-container {
    display: flex;
    flex-direction: column;
    gap: 13px;

    margin-left: 40px;

    color: white;
    z-index: 1;
}

.section-1__parrafo {
    font-size: 12px;
    color: #ffffffbf;
}

.section-1__title {
    font-size: 36px;
    font-weight: bold;
}

.section-1__btn {
    margin-top: 10px;

    width: fit-content;
    padding: 13px 32px;

    background-color: #FF5136;
    border-radius: 40px;

    font-size: 14px;
}

.section-1__btn:hover{
    background-color: #c24835;
}

.section-1__video {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Seccion 2 */
.section-2 {
    margin-top: 70px;
    padding: 0 42px;
}

.section-2__header {}

.header__title {
    font-size: 24px;
    font-weight: bold;
}

.section-2__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.section-2__product {
    flex-basis: calc(33% - 15px);
}

.product__container-img {
    position: relative;
}

.product__img {}

.product__img--top {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.product__img--top:hover {
    opacity: 1;
}

.product__descrption {
    margin-top: 20px;
}

.product__name {
    font-size: 14px;
    font-weight: 100;
}

.product__link {}

.product__price {
    font-size: 14px;
}


/* Seccion 3 */
.section-3 {
    margin-top: 70px;
    padding: 0 42px;
}

.section-3__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.header__link {
    font-size: 14px;
    text-decoration: underline;
    color: #FF5136;

    transition: opacity 250ms;
}

.header__link:hover {
    opacity: .6;
}

.section-3__imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;

    overflow: hidden;
}

.section-3__container-img {
    flex-basis: 33%;

    width: 595px;
    height: 595px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.section-3__img {
    transition: scale 300ms;
}

.section-3__img:hover {
    scale: 1.1;
}


/* Seccion 4 */
.section-4 {
    margin-top: 40px;
    padding: 0 42px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;


}

.section-4__container-img {
    flex-basis: 50%;
}

.section-4__img {}

.section-4__container-text {
    flex-basis: 50%;

    max-width: 30%; 
    overflow-wrap: break-word;
    
}

.section-4__title {
    font-size: 36px;
    line-height: 1.2;
}

.section-4__text {
    margin-top: 20px;
    color: #1d1d1db3;
    line-height: 1.8;
}


/* Seccion 5 */
.section-5{
    margin-top: 125px;
    margin-bottom: 90px;
    padding: 0 42px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 60px;
}

.section-5__container{
    flex-basis: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-5__title{
    font-size: 18px;
}

.section-5__text{
    font-size: 14px;
}

.section-5__subtext{
    font-size: 14px;
    text-decoration: underline;
    color: #FF5136;

    transition: opacity 250ms;
}

.section-5__subtext:hover {
    opacity: .6;
}


/* Footer */
.footer{
    padding: 50px 42px;
    background-color: #F9F9F9;

    font-size: 14px;
}

.footer__containers{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    padding-bottom: 75px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container{
    flex-basis: 33%;
}

.footer__title{
    margin-bottom: 35px;
    font-size: 14px;
}

.footer__list{
    line-height: 1.7;
}

.footer__list-flex{
    display: flex;
    gap: 70px;
}

.footer__option-der{
    width: 50%;
}

.footer__option-link{
    text-decoration: underline;
}

.footer__link{
    width: fit-content;
}

.footer__link:hover{
    opacity: .5;
    cursor: pointer;
}

.footer__text{
    width: 80%;
    margin-bottom: 30px;
}

.footer__search{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;

    padding: 15px;
    padding-left: 20px;
    border-radius: 40px;
}

.footer__containers-inf{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-top: 20px;
}

.footer__rrss-container{
}

.footer__rrss-list{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__select{
    border-radius: 20px;
    padding: 5px 8px;
    font-size: 12px;

    border: 1px solid #363636;
}

.footer__option-select{
}

.footer__rrss svg{
    fill: #363636;
    transition: opacity 200ms;
}

.footer__rrss:hover svg{
    opacity: .5;
}

.footer__pay{
    display: flex;
    gap: 5px;
}

.footer__pay-icon{
}

.footer__pay-icon svg{
    width: 38px;
}

.footer__derechos{
    margin-top: 10px;
}

.derechos__p{
    font-size: 10px;
    color: #363636;
}