body{
    width: 100%;
    font-family: 'ibm';
}

svg{
    width: 20px;
}

.nav{
    width: 100%;

    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 12px 38px;

    color: white;
    
    z-index: 10;

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

.logo{
    width: 100px;
}
.nav__list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-basis: 79.8%;
}

.nav__options{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    font-size: 14px;
}

.nav__options svg{
    width: 16px;
    padding-top: 3px;
}

.nav__options:hover{
    opacity: .5;
    cursor: pointer;
}

.nav__sublist{
    display: none;
}
.nav__suboptions{}

.nav__icons{
    display: flex;
    gap: 20px;
}

.nav__icon{
    width: 100%;
}

.nav__icon svg{
    width: 25px;
}


/* Primera Sección */
.section-1{
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.section-1__text-container{
    position: relative;

    z-index: 20;

}

.section-1__video{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}